<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style></style>
</head>
<body data-ng-app="myApp">
    <div data-ng-controller="MyController">
        <my-clock></my-clock>
        <div>
            <div data-ng-repeat="user in data.users">
                <div data-user-info="" data-user-name="user" data-click="printMessage(user)"></div>
            </div>
        </div>
        
    </div>
    <script src="../../Scripts/angular.js"></script>
    <script>
        var app = angular.module("myApp", [])
            .controller("MyController", ["$scope", "$log", function ($scope, $log) {
                $scope.data = {
                    users:
                        [{
                            firstName: "Abhishek",
                            lastName: "Jain",
                        }, {
                            firstName: "Vanita",
                            lastName: "Jain",
                        }]
                };

                $scope.printMessage = function (user) {
                    $log.info("From MyController:");
                    $log.info("User: " + user.firstName + " " + user.lastName);
                };
            }])
            .directive("userInfo", function () {
                return {
                    restrict: "A",
                    scope: {
                        userName: "=",
                        click: "&"
                    },
                    template: "<div ng-click='click(userName)'>{{userName.firstName + ' ' + userName.lastName}}</div>"
                };
            });
    </script>
</body>
</html>
